<header class="header">
  <div class="header-container container" data-aos="fade-down" data-aos-delay="200" data-aos-duration="600">
    <div class="header-body">
      <a href="/" class="header-logo">
        <img src="../img/header/logo-icon.webp" alt="logo">
      </a>
      <div class="header-lang">
        <div class="header-lang__selected">
          <span class="header-lang__selected-text">укр</span>
        </div>
        <div class="header-lang__hidden">
          <ul class="header-lang__list">
            <li class="header-lang__list-item">
              <a href="index-ru.html" class="header-lang__list-link">
                RU
              </a>
            </li>
            <li class="header-lang__list-item">
              <a href="index-en.html" class="header-lang__list-link">
                ENG
              </a>
            </li>
            <li class="header-lang__list-item">
              <a href="index-ro.html" class="header-lang__list-link">
                RO
              </a>
            </li>
            <li class="header-lang__list-item">
              <a href="index-hy.html" class="header-lang__list-link">
                HY
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
